body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color(display-p3 0.1691 0.761 0.3293);
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;  /* 文字居中显示 */
    width: 90%;  /* 网页宽度（相对于窗口宽度） */
    height: 100vh;  /* 网页高度（相对于窗口高度） */
    margin: 0 auto;
    font-family: 'system-ui', 'PingFang SC', 'Helvetica Neue';
    overflow: hidden;  /* 隐藏滚动条 */
}

#info {
    width: 95%;
    min-width: 400px;
    max-width: 800px;
    background-color: rgba(68, 68, 68, 75%);
    color: rgba(255, 255, 255, 80%);
    border-radius: 20px;
    padding: 5px;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    transform-origin: top right;
    transition: transform 0.5s;
    z-index: 99;
}
#infoBotton {
    display: block;
    width: 28px;
    height: 28px;
    margin: 0;
    position: fixed;
    top: 15px;
    right: 15px;
    font-family: 'Courier New';
    font-size: 25px;
    color: rgba(255, 255, 255, 80%);
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 80%);
    border-radius: 20px;
    z-index: 100;
}
h1 {
    text-align: center;
    font-family: 'system-ui', 'PingFang SC', 'Helvetica Neue';
}
li {
    text-align: left;
    font-size: 20px;
    font-family: 'system-ui', 'PingFang SC', 'Helvetica Neue';
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 80%);
}
.winnerBox {
    display: inline-block;
    padding: 10px;
    margin: 25px;
    border-radius: 25px;  /* 中奖人名字方框背景圆角半径 */
    font-size: 72px;  /* 中奖人名字方框字体大小 */
    min-width: 450px;  /* 中奖人名字方框最小宽度 */
    font-family: 'system-ui', 'PingFang SC', 'Helvetica Neue';
    color: rgba(0, 128, 0, 90%);  /* 中奖人名字字体颜色 */
    background-color: rgba(255, 255, 255, 60%);  /* 中奖人名字方框背景颜色 */
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 26px;
    font-family: 'system-ui', 'PingFang SC', 'Helvetica Neue';
    min-width: 850px;
    color: rgba(255, 255, 255, 80%); /* 字体颜色 */
}

input {
    width: 60px;
    height: 40px;
    font-size: 26px;
    font-family: 'system-ui', 'PingFang SC', 'Helvetica Neue';
    background-color: color(display-p3 0.251 0.6081 0.2548);
    color: rgba(255, 255, 255, 100%); /* 字体颜色 */
    border: 2px solid rgba(68, 68, 68, 60%);
    border-radius: 10px;
    padding: 2px;
    opacity: 80%;
}

button {
    background-color: rgba(68, 68, 68, 60%); /* 底部按钮背景颜色 */
    color: rgba(255, 255, 255, 80%);/* 底部按钮字体颜色 */
    font-size: 24px; /* 底部按钮字体大小 */
    font-family: 'system-ui', 'PingFang SC', 'Helvetica Neue';
    cursor: pointer;
    border-radius: 30px;  /* 底部按钮圆角半径 */
    border-style: none;
    padding: 10px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;  /* 底部按钮宽度 */
}